<header>
    <h2>Ajouter un participant </h2>
</header>
    <form #participantForm="ngForm" (ngSubmit)="addparticipant(participantForm.value)">
    <table>
     <tr>
         <td><label for="nom">Nom</label></td>
         <td><input type="text" name="nom" id="nom" ngModel required></td>
     </tr>
    <tr>
       <td><label for="prenom">Prenom</label></td> 
       <td><input type="text" name="prenom" id="prenom" ngModel required></td> 
    </tr>
   <tr>
   <td><label for="adresse">Adresse</label></td> 
    <td><input type="text" name="adresse" id="adresse" ngModel required></td>
   </tr>
<tr>
   <td><label for="email">Email</label></td> 
    <td><input type="email" name="email" id="email" ngModel required></td>
</tr>
   
<tr>
  <td> <label for="societe">Societe</label></td> 
    <td><input type="text" name="societe" id="societe" ngModel required></td>
</tr>
<tr>
   <td><label for="poste">Poste</label></td> 
   <td><input type="text" name="poste" id="poste" ngModel required></td> 
</tr>
</table>
        <button type="submit" [disabled]="!particpantForm.form.valid">Enregistrer</button>
        </form>
